/* -------------------------- COLORS -------------------------- */
/* -------------------------- MIXINS -------------------------- */
body {
  font-family: 'Open Sans', sans-serif; }

header {
  background: #999999;
  height: 40px;
  margin-bottom: 10px;
  padding: 16px; }

footer {
  position: fixed;
  padding: 20px 0 0 0;
  margin: 0;
  height: 60px;
  bottom: 0;
  width: 100%;
  background: #434343; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  footer li {
    background: #d1d1d1;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    footer li a {
      font-weight: bold; }
